.selected-loc {
  background-color: var(--bg3);
  color: var(--color1);
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease, padding 0.5s ease;
  box-shadow: 0 3px 12px var(--shadow-dark);
  border-radius: var(--radius-sm);
  padding: 0 0.5em;
  margin: 0.5em 0;
}

.selected-loc.show {
  max-height: 15em;
  padding: 0.5em;
}

.selected-loc input[name="loc-copier"] {
  opacity: 0;
}

.loc-rate {
  color: var(--color4);
  font-weight: 700;
  letter-spacing: 0.04em;
}